<div class="navbar-margin-top"></div>
<nav class="navbar navbar-default" role="navigation">
	<div class="col-md-offset-1 col-md-10">
		<div class="navbar-header">
			<span class="navbar-brand">New task</span>
		</div>
		<a ng-hide="show.submit" ng-click="show.submit=true" class="btn btn-info navbar-btn">+</a>
		<form name="taskForm" ng-show="show.submit" ng-submit="taskSubmit()" class="row form-inline navbar-form">
			<div class="col-md-4">
				<input type="text" placeholder="Title" class="form-control" ng-model="task.title" required>
			</div>
			<div class="input-group col-md-6">
				<input type="text" placeholder="Detail" class="form-control" ng-model="task.detail">
			<span class="input-group-btn">
				<button type="submit" class="btn btn-default" ng-disabled="taskForm.$invalid">Add</button>
			</span>
			</div>
		</form>
	</div>
</nav>

<div ng-repeat="task in tasks">
	<span ng-click="toggleDone(task)">{{ task.done | percent }}</span>
	<a href="#/{{ subtaskUrlPrefix }}/{{ task.id }}">{{ task.title }}</a>
	<span ng-click="subShow=$index" ng-show="task.sub" class="caret"></span>

	<div ng-show="subShow==$index">
		<div class="subTasks" ng-repeat="(subtaskId, subtask) in task.sub">
			<span ng-click="toggleSubDone(taskId, subtaskId)">{{ subtask.done | percent }}</span>
			<a href="#/{{ subtaskUrlPrefix }}/{{ subtask.$id }}">{{ subtask.title }}</a>
		</div>
	</div>

</div>