<h2>Task for {{ user }}</h2>
<nav class="navbar navbar-default" role="navigation">
	<div class="col-md-offset-1 col-md-10">
		<div class="navbar-header">
			<span class="navbar-brand">New subtask</span>
		</div>
		<a ng-hide="show.submit" ng-click="show.submit=true" class="btn btn-info navbar-btn">+</a>
		<form name="taskForm" ng-show="show.submit" ng-submit="subtaskSubmit()" class="row form-inline navbar-form">
			<div class="col-md-4">
				<input type="text" placeholder="Title" class="form-control" ng-model="subtask.title" required>
			</div>
			<div class="input-group col-md-6">
				<input type="text" placeholder="Detail" class="form-control" ng-model="subtask.detail">
			<span class="input-group-btn">
				<button type="submit" class="btn btn-default" ng-disabled="taskForm.$invalid">Add</button>
			</span>
			</div>
		</form>
	</div>
</nav>

<div ng-show="show.detail">
	<h3>
		<span ng-click="toggleDone(task)">{{ task.done | percent }}</span>
		<a href="#/tasks/{{ task.id }}">{{ task.title }}</a>
	</h3>
	<h4>{{ task.detail }}</h4>

	<button ng-click="show.detail=false" class="btn btn-default btn-sm">
		<span class="glyphicon glyphicon-edit"></span>
	</button>
</div>

<form name="editForm" ng-hide="show.detail" ng-submit="taskUpdate()" class="form-horizontal">
	<div class="form-group">
		<label for="title" class="control-label col-md-1">Title</label>
		<div class="col-md-7">
			<input type="text" id="title" placeholder="Title" class="form-control" ng-model="task.title" required>
		</div>
	</div>
	<div class="form-group">
		<label for="detail" class="control-label col-md-1">Detail</label>
		<div class="col-md-7">
			<input type="text" id="detail" placeholder="Detail" class="form-control" ng-model="task.detail">
		</div>
	</div>
	<div class="form-group">
		<label for="done" class="control-label col-md-1">Done</label>
		<div class="col-md-2 input-group">
			<input type="number" min="0"  max="100" id="done" class="form-control" ng-model="task.done">
			<span class="input-group-addon">
				%
			</span>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-1 col-md-11">
			<button type="submit" class="btn btn-success" ng-disabled="subtaskForm.$invalid">
				<span class="glyphicon glyphicon-ok"></span>
			</button>
		</div>
	</div>
</form>

<a href="#/user/{{ user }}/{{ task.parent }}" ng-if="task.parent!=null">Back to parent</a>

<div ng-hide="subtasks==undefined||subtasks.length==0">
	<h3>Subtasks</h3>
	<ul ng-repeat="subtask in subtasks">
		<li>
			<a href="#/user/{{ user }}/{{ subtask.id }}">{{ subtask.title }}</a> {{ subtask.done | percent }}
		</li>
	</ul>
</div>

<div>
	<h3>Assigned users</h3>
	<div class="buttons">
		<a ng-hide="show.addAssign" ng-click="show.addAssign=true" class="btn btn-info">
			<span class="glyphicon glyphicon-plus"></span>
		</a>
	</div>

	<form name="assignForm" ng-show="show.addAssign" ng-submit="assignSubmit()" class="row form-inline">
		<div class="input-group col-md-3">
			<input type="text" placeholder="User" class="form-control" ng-model="assign.user" required>
			<span class="input-group-btn">
				<button type="submit" class="btn btn-default" ng-disabled="assignForm.$invalid">Add</button>
			</span>
		</div>
	</form>

	<ul ng-repeat="assign in assigns" ng-init="show.assignDone=-1">
		<li>
			<a href="#/user/{{ assign.user }}">{{ assign.user }}</a> {{ assign.done | percent }}
			<a ng-hide="showAssignDone" class="btn btn-black" ng-click="showAssignDone=true" ng-init="showAssignDone=false">
				<span class="glyphicon glyphicon-tasks"></span>
			</a>
			<form name="assignDone" ng-show="showAssignDone" class="form-inline assign-form" ng-submit="assignsUpdate()">
				<div class="input-group col-md-2">
					<div class="input-group-btn">
						<button type="submit" class="btn btn-success" ng-click="showAssignDone=false">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
					</div>
					<input type="number" placeholder="{{ assign.done }}" class="form-control" min="0" max="100" ng-model="assign.done">
					<span class="input-group-addon">
						%
					</span>
				</div>
			</form>
		</li>
	</ul>
</div>

<br /><button ng-click="log()" class="btn btn-default">Debug</button>